<app-nav></app-nav>

<!-- /#page-wrapper -->
<div id="page-wrapper">

  <!-- Page dashboard -->
  <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{title}}</h1>
      </div>
  </div>

  <div class="row">
    <app-customer-info 
      [customer]="selectedCustomer"
      (customerCreated)="onCustomerCreated($event)"
    ></app-customer-info>
  </div>

  <div class="row" *ngIf="selectedCustomer.id">
    <app-customer-purpose
      [customer]="selectedCustomer"
    ></app-customer-purpose>
  </div>
</div>